* {
  box-sizing: border-box;
}

.content-table {
  display: flex;
  float: left;
  background: white;
  background-color: "#ffffff";
  border-top-left-radius: 25px;
  margin-left: 20px;
  width: 100%;
  border-spacing: 0;
  font-size: 14px;
}

table {
  border-spacing: 0;
  margin-top: 15px;
  width: 100%;
  table-layout: fixed;
}

table .table-head {
  height: 30px;
  box-shadow: 1px 1px 1px 1px #4242421e;
  font-weight: 700;
}

table td {
  text-align: center;
}

table .row td{
  padding-top: 5px;
  padding-bottom: 5px;
}

table .row input {
  border: none;
  text-align: center;
  width: 100%;
}

table .row input:focus {
  border: 1px solid #adadad;
  outline: none;
}

.table-head td {
  padding-bottom: 10px;
}

.empty-row {
  background-color: #00815631;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 90%;
}

.empty-row td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.empty-row input {
  border: none;
  background: none;
  text-align: center;
  width: 100%;
}

.empty-row input:focus {
  border: 1px solid #adadad;
  outline: none;
}
