tr {
  td {
    .edit-btn {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
    }
    .complete-btn {
      background: none;
      background-color: #008156;
      cursor: pointer;
      color: white;
      outline: none;
      padding: 20px;
    }
    input::placeholder {
      color: black;
    }
    input:focus::-webkit-input-placeholder {
      color: transparent;
    }
  }
}
