ul {
  list-style: none;
  padding-left: 0px;
}

.container {
  background-color: #003322;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-logo {
  justify-self: start;
  margin-left: 5px;
  cursor: pointer;
  font-size: 22px;
  display: flex;
  text-decoration: none;
}

.white_box {
  width: 460px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
}

.title_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top_title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 50px;
}

.bottom_title {
  font-size: 1.2rem;
  padding-top: 20px;
}

.content_box {
  display: flex;
  flex-direction: column;
  margin: 20px 40px 0 40px;
}

.padding_box {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.id_pw_text {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.id_pw_input {
  border: none;
  border-bottom: solid 1px #008156;
  font-size: 1rem;
  padding: 10px 10px 15px 0;
  width: 100%;
}

input::placeholder {
  font-weight: 100;
  color: #999999;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.keep_login_container {
  display: flex;
  flex-direction: row;
  color: #666666;
  padding-top: 10px;
}

.keep_login_outline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: solid 0.5px #008156;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 1rem;
}

.keep_login_inline {
  width: 17px;
  height: 17px;
  background-color: #008156;
  border-radius: 2px;
}

.login_btn {
  width: 100%;
  margin-top: 55px;
  padding: 13px;
  background-color: #008156;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}
