
.main_container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003322;
}

.text_top{
    font-size: 1.7rem;
    color: whitesmoke;
}
.barcode_scanner{
    margin-top: 15px;

    margin-bottom: 20px;
    /* width: 50%; */
    /* height: 50%; */
}

.text_bottom{
    font-size: 1.2rem;
    color: whitesmoke;
    margin-bottom: 300px;
}
.back_icon{
    width: 150px;
    margin-right: 60%;
    margin-bottom: 20px;
}