
.main_container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
 
.back_icon1{
    width: 150px;
    margin-right: 90%;
}

.outline_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 570px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 150px;
}

.temp_text{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

#temp_input_text{
    width: 190px;
    height: 40px;
    margin: 18px 0;
    outline: none;
    text-align: center;
    border: whitesmoke;
    background-color: whitesmoke;
    line-height: 40px;
}

.keypad{
    width: 300px;
    text-align: center;  
    margin-bottom: 15px;
}

.key{
    padding: 18px 15px 18px 15px;
    margin: 0px;
    width: 80px;
    box-shadow: 0px 0px 2px gainsboro;
    border-radius: 3px;
    display: inline-block;
}

.cancle_key{
    color: gray;
}

.student{
    margin:18px 0px 0px 0px;
    font-size: 1.1rem;
}

.temp_input{
    display: flex;
    margin: 10px;
}

.backspace_icon{
    margin: 20px 10px 18px 10px;
    width: 40px;
    height: 36px;
}